<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.motivator.wecareyou"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="com.motivator.wecareyou.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.motivator.wecareyou.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <receiver
            android:name="com.mixpanel.android.mpmetrics.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.motivator.wecareyou" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.motivator.alarm.AlarmReceiver" />
        <receiver android:name="com.motivator.alarm.ActionReminderReceiver" />
        <receiver
            android:name="com.motivator.alarm.SampleBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KickStart"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Registration"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstWalkThrough"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:uiOptions="none" />
        <activity
            android:name=".MasterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chapter1"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyHabits"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".HabitList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Habit"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".AddCustomHabit"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".SetHabitTime"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MyHabit_AVScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".HabitCompletionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".RitualSetting"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".NewRitual"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Feedback"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".RitualImageUpdate"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Reminder"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ReminderFullScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".ShowAlarm"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".JourneyEvents"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ShareOnFacebookPopUp"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Letter"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Goal"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Goal_GoldenChallenge"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".OneTimeAction"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Motivator"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Chat"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TodayTimeLine"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".CompletionRate"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".HabitTimeline"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".MoodActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />

        <!--
              <provider android:authorities="com.facebook.app.FacebookContentProvider188618421483655"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="false"/>
        -->


        <!-- FACEBOOK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--
          <activity android:name="com.facebook.LoginActivity"
          android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        -->
        <!-- Goggle -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DataEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name="com.motivator.relaxationzone.RelaxationZone"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name="com.motivator.relaxationzone.RelaxationAudioPlayer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.motivator.careplan.CarePlanHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ClickOnCalendar"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".ClickOnCalendarItem"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.motivator.services.MusicDownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.motivator.services.ContactService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.motivator.relaxationzone.RelaxationZoneVideoPlayer"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme1" />
        <!-- <activity android:name="com.motivator.careplan.ContactsActivity"></activity> -->
        <!-- <activity android:name=".GoogleSignin"></activity> -->
        <activity android:name=".TTSTestingFile"></activity>
    </application>

</manifest>